body {
  /* content center */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  /* background color */
}

.input{
  margin-right: 10px;
}