body {
  /* content center */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background color */
}

.input{
  margin-right: 10px;
}

.Delete{
  color: #f14646;
  margin-left: 10px;
}


.AppToDo{
  padding-left: 34px
}
